body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: Quicksand;
	position: relative;
	height: 100%;
}


.contact {
	text-align: center;
	font-size: 2.5em;
	text-decoration: underline
}

.contact-container {
	padding: 0 14%;
	line-height: 2;
}

.leftside {
float: left;
width: 55%;
text-align: left;
}

.heading {
	margin: 0;
	font-size: 1.5rem;
}

li {
	line-height: 3;
}

.rightside {
	margin-top: 1.5%;
	float: right;
	width: 40%
}

.form {
	height: 70%;
	background-color: midnightblue;
	color: white;
}

.form p {
	font-weight: bold;
	margin: 2% 0;
}

fieldset {
	border: none;
}

legend {
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

input[type=text],
select {
	width: 100%;
	padding: 8px 20px;
	display: inline-block;
	box-sizing: border-box;
}

input[type=submit] {
	width: 50%;
	color: black;
	padding: 14px 20px;
	position: relative;
	left: 25%;
	margin: 5% 0;
}

input[type=submit]:hover {
	position: relative;
	top: 2px;
}

.input {
color: grey;
}

.inputmessage {
height: 6.3em;
}

/*---------------------------------FOOTER-----------------------------------*/

.footer {
background-color: black;
border-top: solid 1px white;
float: left;
width: 100%;
margin: 0 auto !important;
color: white;
text-align: center;
padding: 1% 0;
}

.footer-link {
color: white;
padding: 10px;
margin-top: 10px;
font-size: x-large;
}

.footer-link:hover {
	color: grey;
}

.copyright {
font-size: 0.75rem;
}

@media (max-width: 1100px)  {

.leftside {
	width: 100%;
	text-align: center;
}

.leftside p {
	text-align: left;
  width: 80%;
  margin: 0 auto;
}
.leftside li {
	text-align: left;
	width: 60%;
  margin: 0 auto;
}

.heading {
	margin: 2.5% 0;
}

.rightside {
  margin: 10% 0;
  width: 60%;
  position: relative;
  right: 20%;
}

}

@media (max-width: 600px)  {
.contact {
	font-size: 2rem;
}

.contact-container {
	padding: 0 7.5%;
}

.leftside p {
	text-align: left;
  width: 100%;
  margin: 0 auto;
}
.leftside li {
	text-align: left;
	width: 100%;
  margin: 0 auto;
}

.rightside {
	margin: 10% 0;
	width: 80%;
	position: relative;
	right: 10%;
}

}
