body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: Quicksand;
	position: relative;
	height: 100%;
	overflow-x: hidden;
}

.gallery{
margin-top: 1.5%;
text-align: center;
font-size: 2.5em;
text-decoration: underline;
}


.row-skills {
padding: 0 15%;
}

.skills-box {
  padding: 5% 2.5%;
}

.skill-type {
	text-align: center;
	font-size: 1.25rem;
  margin: 5% 0;
}

.img {
	/* border: 2px solid yellow; */
	text-align: center;
  width: 100%;
  height: 100%;
}

/*---------------------------------FOOTER-----------------------------------*/

.footer {
background-color: black;
border-top: solid 1px white;
float: left;
width: 100%;
margin: 5% auto !important;
color: white;
text-align: center;
padding: 1% 0;
}

.footer-link {
color: white;
padding: 10px;
margin-top: 10px;
font-size: x-large;
}

.footer-link:hover {
	color: grey;
}

.copyright {
font-size: 0.75rem;
}

@media (max-width: 600px) {
	.skills-box {
	    padding: 15% 15%;
	}

	.gallery {
		margin-top: 10%;
		font-size: 2rem;
	}

}
