body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: Quicksand;
	position: relative;
	height: 100%;
}

p {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 2;
}

.container-membership {
	line-height: 2;
	padding: 0 13.5%;
}

.membership-heading {
	text-align: center;
	font-size: 2.5rem;
	text-decoration: underline
}

.join-section {
	text-align: left;
	width: 100%;
}

.join-text {
	text-align: justify;
	font-size: 1rem;
}

.membership-section {
	padding: 0 14%;
}

.card {
	margin: 10% 0;
	text-align: center;
	background-color: #1e1a1a;
}

.card-header {
  background-color: white;
	color: #1e1a1a;
}

.container-2 {
	margin: 5% 0;
}

.entitles-section {
	float: left;
	text-align: left;
	width: 55%;
}

.entitles-heading {
	margin: 0;
	font-size: 1.75rem;
}

.images-section {
	float: right;
	width: 40%;
}


.observatory-img {
	margin: 4% 0;
	width: 100%;
	border: 2px;
	border-style: solid;
	color: yellow;
}


  /*---------------------------------FOOTER-----------------------------------*/

.footer {
	background-color: black;
	border-top: solid 1px white;
	float: left;
	width: 100%;
	margin: 5% auto !important;
	color: white;
	text-align: center;
}

.footer-link {
	color: white;
	padding: 10px;
	margin-top: 10px;
	font-size: x-large;
  }

  .footer-link:hover {
    color: grey;
  }

  .copyright {
  font-size: 0.75rem;
  }

	@media (max-width: 600px) {

		.container-membership {
		    padding: 7.5%;
		}

		.join {
			font-size: 1.5rem;
		}

		.join-section {
			 margin-top: 5%;
		}

		.join-text {
    text-align: justify;
		}

	}
