body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: Quicksand;
	position: relative;
	height: 100%;
}


.contact {
	text-align: center;
	font-size: 2.5em;
	text-decoration: underline
}

.leftside {
float: left;
width: 42%;
text-align: center;
padding-left: 5em;
padding-top: 1em;
}

.info1 {
text-align: left;

}

.contactustoday {
font-size: 1.5em;
}

input[type=text],
select {
	width: 100%;
	padding: 8px 16px;
	margin: 7px 0;
	display: inline-block;
	border: 1px solid white;
	border-radius: 5px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 50%;
	background-color: yellow;
	color: black;
	padding: 14px 20px;
	margin: 7px 0;
	border: none;
	border-radius: 5px;
	position: relative;
	left: 25%;
	margin-bottom: 2em;
}

input[type=submit]:hover {
	background-color: black;
	color: white;
}

.input {
color: lightgrey;
}

.inputmessage {
height: 6.3em;
}

.form {
	float: left;
	width: 42%;
	height: 70%;
	margin-left: 2%;
	background-color: midnightblue;
	margin-top: 3%;
}

/*---------------------------------FOOTER-----------------------------------*/

.footer {
background-color: black;
border-top: solid 1px white;
float: left;
width: 100%;
margin: 0 auto !important;
color: white;
text-align: center;
padding: 1% 0;
}

.footer-link {
color: white;
padding: 10px;
margin-top: 10px;
font-size: x-large;
}

.footer-link:hover {
	color: grey;
}

.copyright {
font-size: 0.75rem;
}


@media screen and (max-width: 588px) {
.form {
position: relative;
left: 9%;
width: 80%;
margin-left: 0%;
}

.leftside {
position: relative;
width: 80%;
left: 9%;
margin-left: 0%;
padding-left: 0%;
}

}


/*
@media screen and (max-width: 1130px) {
    .form {
			margin-left: 55%;
    }
}
