body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: Quicksand;
	position: relative;
	height: 100%;
}

.meetings{
text-align: center;
font-size: 2.5em;
padding-bottom: 1em;
text-decoration: underline

}

iframe {
float: right;
height: 260px;
width: 550px;
margin-right: 7em;
margin-top: 1em;
border: solid;
border-color: yellow;
}

.titlee {
float: left;
margin-left: 5em;
}

.info1 {
float: left;
width: 40%;
margin-left: 6em;
text-align: left;
clear: left;
}

.formalmeetings {
float: left;
text-align: center;
width: 100%;
padding-top: 1em;
padding-bottom: 1em;
}

.contentleft {
float: left;
margin-left: 6em;
margin-top: 1em;
width: 40%;
text-align: left;
}


#calendar {
float: right;
width: 36%;
height: 16em;
}

#maps {
float: right;
width: 36%;
height: 18em;
}

.fb {
	height: 20px;
	width: 20px;
}

.insta {
	height: 20px;
	width: 20px;
}

.twitter {
	height: 20px;
	width: 20px;
}


.footer {
	float: left;
	margin: auto;
	width: 70%;
}

.social {
	display: inline-block;
	margin: auto;
	position: relative;
	left: 68%;
	padding-top: 1%;

}


.footerline {
	width: 100%;
	display: block;
	position: relative;
	left: 22%;
	border-style: inset;
	border-width: 1px;
	margin-top: 7%;
}

.footertext {
	text-align: center;
	width: 120%;
	position: relative;
	left: 12%;

}


@media screen and (max-width: 936px) {
	#maps {
	clear: left;
	position: relative;
	margin-right: 7%;
	margin-left: 0%;
	width: 80%;

    }

	.middle {
	clear:right;
	position: relative;
	left: 12%;
	width: 100%;
	height: auto;
	margin-right: 10%;

		}

	.info1 {
	width: 81%;
	margin-left: 0%;
	margin-right: 1%
	}

	.titlee {
	margin-left: 0%;
	margin-right: 1%;
	}
}


@media screen and (max-width: 891px) {
	#calendar {
	clear: left;
	position: relative;
	margin-right: 7%;
	margin-left: 0%;
	width: 80%;

    }

	.contentleft {
	width: 80%;
	margin-left: 0%;
	position: relative;
	left: 13%;
	}
