body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: Quicksand;
	position: relative;
	height: 100%;
}


.juniorbox {
padding: 10px!important;
}


.membership {
	text-align: center;
	font-size: 2.5em;
	text-decoration: underline
}

.joinus {
	text-align: center;
	padding-top: 0.5em;
}

.member {
	text-align: center;
	padding-top: 1.5em;
}

p {
	text-align: center;
}

.textleft {
	text-align: left;
	position: relative;
	bottom: 2%;
}



#container {
	width: 100%;
	text-align: center;
}

#container > div {
	width: calc(100% / 6);
	display: inline-block;
	vertical-align: top;
	border: 2px solid white;
	text-align: center;
	margin: 2%;
	padding: 20px;
	background-color: yellow;
}


.underline {
	text-decoration: underline;
	color: black;
	font-weight: bold;
}

.black {
color: black;
}

.howtojoin {
	padding-top: 1%;
	float: left;
	text-align: left;
	position: relative;
	left: 16%;
	width: 70%;


}

.info2 {
	text-align: justify;
	font-size: 1.1em;
}


.entitles {
	float: left;
	text-align: left;
	padding-top: 2%;
	width: 35%;
	position: relative;
	left: 16%;
}


.img1 {
	float: left;
	position: relative;
	left: 18%;
	width: 30%;
	height: auto;
	border: 2px;
	border-style: solid;
	color: yellow;
	margin-top: 8%;
}

.fb {
	height: 20px;
	width: 20px;
}

.insta {
	height: 20px;
	width: 20px;
}

.twitter {
	height: 20px;
	width: 20px;
}


.footer {
	float: left;
	margin: auto;
	width: 70%;
}

.social {
	display: inline-block;
	margin: auto;
	position: relative;
	left: 68%;
	padding-top: 1%;

}


.footerline {
	width: 100%;
	display: block;
	position: relative;
	left: 22%;
	border-style: inset;
	border-width: 1px;
	margin-top: 7%;
}

.footertext {
	text-align: center;
	width: 120%;
	position: relative;
	left: 12%;

}



@media screen and (max-width: 1125px) {
	.img1 {
	clear: left;
		margin: auto;
    width: 60%;
		margin-top: 8%;
    }

	.entitles {
	width: 60%;
	}
}


	@media screen and (max-width: 937px) {
		#container > div  {
			width: calc(100% / 3);
		}
}
